/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 1;
  color: #fff;
  border-bottom: 1px solid rgba(250, 250, 250, 0.3);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 6px 24px 0 rgba(31, 38, 135, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 100;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav ul li a {
  text-decoration: none;
  color: #333;
  position: relative;
  padding: 5px 0;
  color: #fff;
}

.nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav ul li a:hover::after {
  width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: radial-gradient(
    circle,
    rgba(154, 223, 63, 1) 0%,
    rgba(30, 130, 54, 1) 100%
  );
  background-position: center bottom; 
  background-size: 100% 50%; 
  z-index: 2; */
  overflow: hidden;
}
/* .slider::before {
  position: absolute;
  width: 50%;
  height: 100vh;
  content: '';
  top: 0;
  left: 0;
  background-color: #e88735;
} */

.title {
  position: absolute;
  top: 20%;
  right: 60%;
  text-align: right;
  color: #fff;
  font-size: 6rem;
  width: 40%;
  font-family: "Poppins";
  text-shadow: 3px 5px 0px #478860;
  line-height: 0.9em;
  transform: rotate(-5deg);
}
.images {
  position: absolute;
  bottom: 0%;
  left: 50%;
  --rotate: 0deg;
  transform: translate(-50%, 40%) rotate(var(--rotate));
  width: 1400px;
  height: 1400px;
  border-radius: 50%;
  transition: transform 0.5s ease-in-out;
  /* outline: 3px dashed rgba(36, 35, 35, 0.333);
  outline-offset: -200px; */
}
.images .item {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  rotate: calc(72deg * var(--i));
}

.images .item img {
  height: 400px;
  transition: all 0.5s ease-in-out;
}

.content {
  color: #fff;
  position: absolute;
  bottom: 80px;
  left: 50%;
  line-height: 1.5;
  font-weight: 300;
  /* color: #333; */
  transform: translate(-50%, 0%);
  /* background: rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 15px; */
}
.content h1 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  /* color: #fff; */
}
.content button {
  margin-top: 30px;
  padding: 12px 25px;
  border-radius: 180px;
  border: 1px solid #101010;
  background-color: transparent;
  color: #101010;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.content button:hover {
  background: #101010;
  color: #fff;
}
.content .item {
  display: none;
  width: 100%;
  margin: auto;
}
.content .item.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flavor {
  color: #333;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 26px;
}
@keyframes showContent {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
  }
}
.item-title {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: "Poppins";
  opacity: 0;
  animation: showContent 0.5s ease-in-out 1 forwards;
  line-height: 1;
  /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25); */
}
.content .item.active .des {
  display: flex;
  flex-direction: column;
  opacity: 0;
  animation: showContent 0.5s 0.3s ease-in-out 1 forwards;
  font-size: 16px;
  color: #333;
  width: 400px;
}
.content .item.active button {
  width: fit-content;
  opacity: 0;
  animation: showContent 0.5s 0.6s ease-in-out 1 forwards;
}

#prev,
#next {
  position: absolute;
  border: none;
  top: 50%;
  left: 5%;
  font-size: 85px;
  font-family: "Poppins";
  background-color: transparent;
  color: #ffffff;
  opacity: 0.85;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}
#next {
  left: unset;
  right: 5%;
}
#next:hover,
#prev:hover {
  opacity: 1;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: radial-gradient(
    circle farthest-side at center bottom,
    #fcd3b7,
    #f17c39
  );
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
  transition: background 1s ease-in-out;
}

.bg img {
  position: absolute; /* Position it relative to the slider */
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .bg img {
    height: 92%;
  }

  #prev,
  #next {
    color: #ffffff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  }

  .images .item img {
    width: 350px;
    height: 350px;
  }

  .nav ul {
    gap: 1rem;
  }

  .nav ul li {
    font-size: 14px;
  }
}

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  text-transform: uppercase;
  background: lightgray;
}
